<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}New User{% endblock %}</title>
</head>
<body>
    <div id="content">
        {% block content %}
        <form action="{{ url_for('users_post') }}" method="post">
            <div>
                <label for="user-nickname">
                    Nickname:
                    <input type="text" id="user-name" name="name" value="{{ user.name }}">
                </label>
            </div>
            <div>
                <label for="user-email">
                  Email:
                  <input type="email" id="user-email" name="email" value="{{ user.email }}">
                </label>
            </div>
            <button type="submit" title="Submit form">Add</button>
        </form>

        <p><a href="{{ url_for('get_users') }}">Назад к списку пользователей</a></p>
        {% endblock %}
    </div>
</body>
</html>